*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}

.card{
    max-width: 350px;
    background: linear-gradient(135deg, #00feda , #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.search input{
    border: 0;
    width: 50%;
    outline: 0;
    background: #ebfffe;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}


.search button{
    border: 0;
    outline: 0;
    background: #ebfffe;
    border-radius: 50px;
    width: 60px;
    height: auto;
    padding: 20px;
    cursor: pointer;

}
.detail{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.weather{
    margin-top: 50px;
    padding: 20px;
}
.weather .weather-icon{
    width: 100px;
    height: 100px;
    margin-top: -10px;

}
.detail .col p{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.col img{
    padding: 10px;
    margin-top: 50px;
    width: 70px;
    height: 70px;
}